:root {
    --white: #ffffff;
    --silver: #c9c9c9;
    --lightOrange: #f0e5a4;
    --semiDarkPurple: #800080;
    --darkPurple: #2e1831;
    --poppinsFont: 'Poppins', sans-serif;
    --pacificoFont: 'Pacifico', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--lightOrange);
    font-family: var(--poppinsFont);
}