:root {
    --white: #ffffff;
    --silver: #c9c9c9;
    --lightGreen: #b1e6cc;
    --darkGreen: #73d673;
    --semiDarkPurple: #800080;
    --darkPurple: #2e1831;

    --poppinsFont: 'Poppins', sans-serif;
    --pacificoFont: 'Pacifico', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background: linear-gradient(300deg, var(--darkGreen), var(--lightGreen));
    font-family: var(--poppinsFont);
}

body {
    height: 100vh;
    width: 100vw;
}